.header {
  background-image: url('../../images/hero.jpg');
  min-height: 65vh;
  padding: 2rem 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.header__content {
  max-width: 80%;
  text-align: center;
}

@media (max-width: 600px) {
  .header__title {
    font-size: 5.5rem;
  }

  .header__para {
    font-size: 1.8rem;
  }
}

@media (min-width: 600px) {
  .header__title {
    font-size: 6rem;
  }

  .header__para {
    font-size: 2.2rem;
  }
}

@media (min-width: 768px) {
  .header__title {
    font-size: 6.5rem;
  }
}
