.mobileMenu {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(0, -50%);
  display: none;
  transition: height 0.3s ease;
}

.mobileMenu__links {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0rem;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 0;
  visibility: hidden;
}

.mobileMenu__links--active {
  visibility: visible;
  height: max-content;
}

.mobileMenu__link {
  font-family: inherit;
  padding: 1rem 1rem;
  color: #000;
  background-color: rgb(109, 238, 109);
  width: 10rem;
  border-bottom: 0.1rem solid rgba(35, 136, 97, 0.192);
}

.mobileMenu__btn {
  font-size: 3rem;
  background-color: transparent;
  border: none;
}

.MobileMenu__logout {
  display: block;
  border: none;
  padding: 1rem 1rem;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  background-color: rgb(109, 238, 109);
}

@media (max-width: 600px) {
  .mobileMenu {
    display: block;
  }
}
