.singlePost {
  flex: 2.1;
}

.singlePost__title {
  font-size: 5.2rem;
  margin-bottom: 2rem;
}

.singlePost__titleInput,
.singlePost__content__textarea {
  padding: 1rem;
  border: none;

  &:focus {
    outline: none;
  }
}

.singlePost__titleInput {
  font-size: 5rem;
  text-align: center;
  border-bottom: 1px solid gray;
}

.singlePost__content__textarea {
  height: 40vh;
  font-size: 2rem;
  resize: none;
  width: 100%;
}

.singlePost__info__author {
  display: flex;
  align-items: center;
}

.singlePost__info__author__container {
  width: 5.5rem;
  height: 5.5rem;
}

.singlePost__info__author__container__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.singlePost__info__author__about {
  text-align: center;
}

.singlePost__info__author__about__name {
  margin: 0 0 0.2rem 0.2rem;
  cursor: pointer;
}

.singlePost__info__author__about__name:hover {
  text-decoration: underline;
}

.singlePost__info__author__about__followBtn {
  background-color: rgb(164, 164, 179);
  color: #fff;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 3.5rem;
  cursor: pointer;
}

.singlePost__info__author__about__followBtn:hover {
  background-color: rgb(121, 121, 133);
}

.singlePost__info__edit {
  text-align: right;
}

.singlePost__info__edit__updateIcon,
.singlePost__info__edit__thrashIcon {
  font-size: 2.2rem;
  cursor: pointer;
}

.singlePost__info__edit__updateIcon {
  margin-right: 1rem;
  color: teal;
}

.singlePost__info__edit__thrashIcon {
  color: tomato;
}

.singlePost__content__img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.singlePost__content__text {
  margin-top: 4rem;
  font-size: 2.2rem;
  line-height: 3rem;
}

.singlePost__content__text::first-letter {
  font-size: 3.5rem;
  font-weight: bold;
  margin-left: 2rem;
}

.singlePost__content__updateBtn {
  background-color: teal;
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin: 2rem 0;
  cursor: pointer;
  align-self: center;
}
