.writePost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.writePost__img {
  width: 70%;
  object-fit: cover;
  border-radius: 0.8rem;
  margin-top: 4rem;
}

.writePost__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.writePost__form-group {
  margin-top: 3rem;
}

.writePost__plus-icon {
  font-size: 2.5rem;
  border: 0.1rem solid $dark-gray;
  border-radius: 50%;
  padding: 0.3rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.writePost__file-input {
  display: none;
}

.writePost__title-input,
.writePost__textarea {
  padding: 1rem;
  width: 70vw;
  border: none;

  &:focus {
    outline: none;
  }
}

.writePost__title-input {
  font-size: 3rem;
}

.writePost__textarea {
  color: $gray;
  font-family: inherit;
  font-size: 2rem;
  min-height: 20rem;
  background-color: $light-gray;
  resize: none;
  border-radius: 0.5rem;
}

.writePost__btn {
  background-color: teal;
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin: 2rem 0;
  cursor: pointer;

  &:hover {
    background-color: lighten(teal, 10%);
  }
}
